node_modules
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
session/
.env
data/
tmp/
temp/
*.log
antiaudio.json
anticall.json
antigrouplink.json
antiimage.json
antilink.json
antimention.json
antisticker.json
antivideo.json
autoread_settings.json
collected_stickers.json
bot_button_mode.json
bot_mode.json
bot_name.json
bot_settings.json
owner.json
